DB_DATABASE=fusiond3
DB_USERNAME=fusiond3
DB_PASSWORD=changeme
DB_ROOT_PASSWORD=changeme
WHATSAPP_SESSION_SECRET=changeme_generate_a_random_secret
INTERNAL_API_SECRET=changeme_generate_a_random_secret
